In [1]:
import pandas as pd
import re

In [22]:
def normalize_entity(entity):
    # print(f'Entity: {entity}')
    text, label = entity
    # print(f'Text: {text}, Label: {label}')
    text = text.lower().strip()

    text = re.sub(r"[^\w\s]", "", text)

    if label in ["ORG", "PRODUCT"]:
        text = text.title()
        # print(f"Since label is from org or product new text: {text}")

    if label in ['ORG', 'PRODUCT', 'QUANTITY', 'GPE', 'CARDINAL']:
        return text
        
    return None

In [4]:
def normalize_entities_csv(input_csv, output_csv):
    df = pd.read_csv(input_csv)
    df["normalized_entities"] = df["entities"].apply(eval).apply(lambda ents: list(set(filter(None, [normalize_entity(e) for e in ents]))))
    print(df)

    # df[["id", "title", "normalize_entities"]].to_csv(output_path, index=False)

    print(f"Normalized entities saved to {output_csv}")

In [9]:
import os
os.getcwd()

'/Users/richapandey/Abhishek/projects/ebay-product-knowledge-graph/notebooks'

In [6]:
input_csv_raw="/Users/richapandey/Abhishek/projects/ebay-product-knowledge-graph/data/raw/ebay_listings_sample.csv"
input_csv="/Users/richapandey/Abhishek/projects/ebay-product-knowledge-graph/data/processed/entities.csv"
output_csv="/Users/richapandey/Abhishek/projects/ebay-product-knowledge-graph/data/processed/normalized_entities.csv"

In [7]:
df = pd.read_csv(input_csv)
df

,id,title,entities
0,1,Apple iPhone 13 Pro Max,"[('Apple', 'ORG'), ('13', 'CARDINAL'), ('Apple..."
1,2,Samsung Galaxy S21 Ultra,"[('Samsung Galaxy S21 Ultra', 'ORG'), ('Samsun..."
2,3,Nike Air Zoom Pegasus 39,"[('Nike Air Zoom Pegasus', 'ORG'), ('39', 'CAR..."
3,4,Sony WH-1000XM5 Headphones,"[('Sony', 'ORG'), ('Sony', 'ORG'), ('Wireless'..."
4,5,Dell XPS 13 Laptop,"[('Dell XPS 13 Laptop', 'ORG'), ('Dell XPS 13'..."

In [24]:
for entities in df['entities'].apply(eval):
    print(entities)
    # for ent in entities:
    #     print(ent)
    #     print('\t', ent, f"normalised: {normalize_entity(ent)}")

    print([normalize_entity(e) for e in entities])
    print(filter(None, [normalize_entity(e) for e in entities]))

[('Apple', 'ORG'), ('13', 'CARDINAL'), ('Apple', 'ORG'), ('iPhone 13', 'PRODUCT'), ('256', 'CARDINAL')]
['Apple', '13', 'Apple', 'Iphone 13', '256']
<filter object at 0x11469e890>
[('Samsung Galaxy S21 Ultra', 'ORG'), ('Samsung Galaxy S21 Ultra', 'PERSON'), ('128', 'CARDINAL'), ('GB', 'GPE'), ('Phantom Black', 'GPE'), ('108MP', 'DATE')]
['Samsung Galaxy S21 Ultra', None, '128', 'gb', 'phantom black', None]
<filter object at 0x11469ea70>
[('Nike Air Zoom Pegasus', 'ORG'), ('39', 'CARDINAL'), ('10', 'CARDINAL')]
['Nike Air Zoom Pegasus', '39', '10']
<filter object at 0x11469e890>
[('Sony', 'ORG'), ('Sony', 'ORG'), ('Wireless', 'ORG')]
['Sony', 'Sony', 'Wireless']
<filter object at 0x107c94f70>
[('Dell XPS 13 Laptop', 'ORG'), ('Dell XPS 13', 'ORG'), ('Intel', 'ORG'), ('16', 'CARDINAL'), ('RAM', 'ORG'), ('512', 'CARDINAL'), ('Windows 11 Home', 'LAW')]
['Dell Xps 13 Laptop', 'Dell Xps 13', 'Intel', '16', 'Ram', '512', None]
<filter object at 0x11469e890>

In [ ]:
df["normalized_entities"] = df["entities"].apply(eval).apply(lambda ents: list(set(filter(None, [normalize_entity(e) for e in ents]))))

In [ ]:
df['entities'].apply(eval).apply(lambda ents: list